<#compress>
<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>添加车型</title>
    <link href="../res/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../res/jquery/jquery-1.11.3.min.js"></script>
    <script src="../res/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/header.css"/>
    <link href="css/add_car.css" rel="stylesheet">
    <script src="js/add_car.js"></script>
    <script src="js/header.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="search row">
			<div class="col-xs-9"><input class="form-control" id="vin" type="text" placeholder="请输入17位VIN码确定车型"></div>
			<div class="col-xs-3"><button class="btn btn-green max-width" id="search" type="button">搜索</button></div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<strong>选择爱车品牌首字母，快速查找</strong>
			</div>
		</div>
		<div class="row">
			<div class="text-center col-xs-2"><input id="A" type="radio" name="letter" checked><label for="A">A</label></div>
			<div class="text-center col-xs-2"><input id="B" type="radio" name="letter"><label for="B">B</label></div>
			<div class="text-center col-xs-2"><input id="C" type="radio" name="letter"><label for="C">C</label></div>
			<div class="text-center col-xs-2"><input id="D" type="radio" name="letter"><label for="D">D</label></div>
			<div class="text-center col-xs-2"><input id="E" type="radio" name="letter"><label for="E">E</label></div>
			<div class="text-center col-xs-2"><input id="F" type="radio" name="letter"><label for="F">F</label></div>
			<div class="text-center col-xs-2"><input id="G" type="radio" name="letter"><label for="G">G</label></div>
			<div class="text-center col-xs-2"><input id="H" type="radio" name="letter"><label for="H">H</label></div>
			<div class="text-center col-xs-2"><input id="I" type="radio" name="letter"><label for="I">I</label></div>
			<div class="text-center col-xs-2"><input id="J" type="radio" name="letter"><label for="J">J</label></div>
			<div class="text-center col-xs-2"><input id="K" type="radio" name="letter"><label for="K">K</label></div>
			<div class="text-center col-xs-2"><input id="L" type="radio" name="letter"><label for="L">L</label></div>
			<div class="text-center col-xs-2"><input id="M" type="radio" name="letter"><label for="M">M</label></div>
			<div class="text-center col-xs-2"><input id="N" type="radio" name="letter"><label for="N">N</label></div>
			<div class="text-center col-xs-2"><input id="O" type="radio" name="letter"><label for="O">O</label></div>
			<div class="text-center col-xs-2"><input id="P" type="radio" name="letter"><label for="P">P</label></div>
			<div class="text-center col-xs-2"><input id="Q" type="radio" name="letter"><label for="Q">Q</label></div>
			<div class="text-center col-xs-2"><input id="R" type="radio" name="letter"><label for="R">R</label></div>
			<div class="text-center col-xs-2"><input id="S" type="radio" name="letter"><label for="S">S</label></div>
			<div class="text-center col-xs-2"><input id="T" type="radio" name="letter"><label for="T">T</label></div>
			<div class="text-center col-xs-2"><input id="U" type="radio" name="letter"><label for="U">U</label></div>
			<div class="text-center col-xs-2"><input id="V" type="radio" name="letter"><label for="V">V</label></div>
			<div class="text-center col-xs-2"><input id="W" type="radio" name="letter"><label for="W">W</label></div>
			<div class="text-center col-xs-2"><input id="X" type="radio" name="letter"><label for="X">X</label></div>
			<div class="text-center col-xs-2"><input id="Y" type="radio" name="letter"><label for="Y">Y</label></div>
			<div class="text-center col-xs-2"><input id="Z" type="radio" name="letter"><label for="Z">Z</label></div>
		</div>
		<div class="row">
		<%
			for (brand in brands) {
				var ids = strutil.split(brand.ids, ",");
				var names = strutil.split(brand.names, ",");	
		%>
			<div class="letter col-xs-12" mark="${strutil.toUpperCase(brand.letter)}"><span>${strutil.toUpperCase(brand.letter)}</span></div>
			<%  for (var i = 0; i < ids.~size; i++) { %>
			<div class="col-xs-3"><div id="${ids[i]}" class="brand">${names[i]}</div></div>
			<%  } %>
		<% } %>
		</div>
	</div>
</body>

</html>
</#compress>