<#compress>
<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <link href="../res/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../res/jquery/jquery-1.11.3.min.js"></script>
    <script src="../res/bootstrap/js/bootstrap.min.js"></script>
    <title>帮助中心</title>
    <style>
	a,
	a:link,
    a:visited,
    a:hover,
    a:active {
		text-decoration: none;
	}
	img {
		height: 20px;
		margin-right: 5px;
	}
    </style>
</head>

<body>
    <div class="panel-group" id="accordion">
    <% for(help in helpList) { %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
		        	<a data-toggle="collapse" data-parent="#accordion" href="#collapse${helpLP.index}"><img src="img/ic_prompt.png">${help.header}</a>
		     	</h4>
            </div>
            <div id="collapse${helpLP.index}" class="panel-collapse collapse in">
                <div class="panel-body">
                ${help.content}
                </div>
            </div>
        </div>
    <% } %>
    </div>
</body>

</html>
</#compress>