<#compress>
<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>快卡首页</title>
    <link href="../res/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../res/jquery/jquery-1.11.3.min.js"></script>
    <script src="../res/jquery/jquery.touchSwipe.min.js"></script>
    <script src="../res/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <link href="css/base.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/header.css"/>
    <script src="js/index.js"></script>
    <script src="js/header.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="container-fluid">
        <header class="row">
            <div class="col-xs-4">
                <a class="plain-link text-white" href="tel:${tell!}"><img src="img/ic_phone.png" alt="">客服电话</a>
            </div>
            <div class="col-xs-4 text-center">
                <img class="logo" src="img/title.png">
            </div>
            <div class="col-xs-4">
                <div class="btn-group pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""><img src="img/ic_menu.png">
                    </a>
                    <ul class="dropdown-menu" role="menu" style="background-color:#333333">
                        <li role="presentation"><a title="我的订单" style="color:#939393" href="byda"><img src="img/ic_form.png"/>&nbsp;&nbsp;我的订单</a> </li>
                        <li role="presentation"><a title="保养查询" style="color:#939393" href="bycx"><img src="img/ic_search.png"/>&nbsp;&nbsp;保养查询</a> </li>
                        <li role="presentation"><a title="帮助中心" style="color:#939393" href="bzzx"><img src="img/ic_help.png"/>&nbsp;&nbsp;帮助中心</a> </li>
                        <li role="presentation"><a title="关于我们" style="color:#939393" href="gywm"><img src="img/ic_about_us.png"/>&nbsp;&nbsp;关于我们</a> </li>
                    </ul>
                </div>

            </div>
        </header>
        <% if (carousels.~size != 0) { %>
        <div class="row carousel-row">
            <div id="myCarousel" class="carousel slide col-md-12">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                <% for (carousel in carousels) { %>
                    <li data-target="#myCarousel" data-slide-to="${carouselLP.index - 1}" ${carouselLP.first ? 'class="active"'}></li>
                <% } %>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                <% for (carousel in carousels) { %>
                    <div class="item ${carouselLP.first ? 'active'}">
                        <a href="../news/show?nID=${carousel.n_id}">
                            <img src="../file/download?fID=${carousel.f_id}">
                        </a>
                    </div>
                <% } %>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <% } %>
        <div class="add-car row bg-white border-tb">
            <div class="col-xs-12">
                <img class="pull-left" src="img/ic_red_car.png">
                <div class="pull-left">
                    <div id="car-name">${car! != null ? car.name : '添加我的爱车'}</div>
                    <input id="car" type="hidden" value="${car! != null ? car.id}">
                    <input id="car-lyid" type="hidden" value="${car! != null ? car.ly_id}">
                    <div class="small">点击${car! != null ? '更改' : '选择'}我的爱车品牌</div>
                </div>
                <img class="pull-right icon" src="img/ic_go.png">
            </div>
        </div>
        <div class="row part">
            <div class="col-xs-12 part-title">
                <img src="img/ic_aodi.png" alt="" class="pull-left" />
                <div class="pull-left">
                    <div>大保养</div>
                    <div class="small">全面的爱车保养服务</div>
                </div>
                <button class="pull-right btn btn-green" id="big-maintain">我要保养</button>
            </div>
            <div class="col-xs-12 part-body text-center">
                <div class="col-xs-3">
                    <div><img src="img/ic_engine_oil.png"></div>
                    <span>更换机油</span>
                </div>
                <div class="col-xs-3">
                    <div><img src="img/ic_oil_filter.png"></div>
                    <span>更换机滤</span>
                </div>
                <div class="col-xs-3">
                    <div><img src="img/ic_air_filter.png"></div>
                    <span>更换空气滤</span>
                </div>
                <div class="col-xs-3">
                    <div><img src="img/ic_air_condition.png"></div>
                    <span>更换空调滤</span>
                </div>
            </div>
        </div>
        <div class="row part">
            <div class="col-xs-12 part-title">
                <img src="img/maintain-2.png" alt="" class="pull-left" />
                <div class="pull-left">
                    <div>小保养</div>
                    <div class="small">快捷的爱车保养服务</div>
                </div>
                <button class="pull-right btn btn-green" id="small-maintain">我要保养</button>
            </div>
            <div class="col-xs-12 part-body text-center">
                <div class="col-xs-3">
                    <div><img src="img/ic_engine_oil.png"></div>
                    <span>更换机油</span>
                </div>
                <div class="col-xs-3">
                    <div><img src="img/ic_oil_filter.png"></div>
                    <span>更换机滤</span>
                </div>
            </div>
        </div>
         <!--<div class="row">
            <div class="maintain radio col-xs-6">
                <label>
                    <img src="img/maintain-1.png">
                    <input name="wide-category" type="radio">
                                大保养
                </label>
            </div>
            <div class="maintain radio col-xs-6">
                <label>
                    <img src="img/maintain-2.png" alt="">
                    <input name="wide-category" type="radio">
                                小保养
                </label>
            </div>
            <div class="maintain checkbox col-xs-6">
                <label>
                    <img src="img/maintain-3.png">
                    <input type="checkbox">
                                更换防冻液
                </label>
            </div>
            <div class="maintain checkbox col-xs-6">
                <label>
                    <img src="img/maintain-4.png" alt="">
                    <input type="checkbox">
                                更换火花塞
                </label>
            </div>
            <div class="maintain checkbox col-xs-6">
                <label>
                    <img src="img/maintain-5.png">
                    <input type="checkbox">
                                更换刹车油
                </label>
            </div>
            <div class="maintain checkbox col-xs-6">
                <label>
                    <img src="img/maintain-6.png" alt="">
                    <input type="checkbox">
                                更换刹车片
                </label>
            </div>
            <div class="maintain checkbox col-xs-6">
                <label>
                    <img src="img/maintain-7.png">
                    <input type="checkbox">
                                更换空调滤清器
                </label>
            </div>
            <div class="maintain checkbox col-xs-6">
                <label>
                    <img src="img/maintain-8.png" alt="">
                    <input type="checkbox">
                                其他
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><button type="button" class="btn btn-lg btn-green max-width" onclick="next();">选择配件</button></div>
        </div> -->
    </div>
</body>

</html>

</#compress>