<#compress>
<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <title>提交预约</title>
    <link href="../res/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../res/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet">
    <script src="../res/jquery/jquery-1.11.3.min.js"></script>
    <script src="../res/bootstrap/js/bootstrap.min.js"></script>
    <script src="../res/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="../res/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <link href="css/base.css" rel="stylesheet" />
    <link href="css/submit_contact.css" rel="stylesheet" />
    <script src="js/submit_contact.js"></script>
</head>

<body>
    <div class="container-fluid">
	    <form id="form" action="wcyy" method="post">
	    	<% if(oil1! != null) { %>
	    	<input class="commodity" id="oil1" name="oil1" type="hidden" value="${oil1!}">
	    	<% } %>
	    	<% if(oil2! != null) { %>
	    	<input class="commodity" id="oil2" name="oil2" type="hidden" value="${oil2!}">
	    	<% } %>
	    	<% if(oil_none! != null) { %>
	    	<input class="commodity" id="oil_none" name="oil_none" type="hidden" value="${oil_none!}">
	    	<% } %>
	    	<% if(filter1! != null) { %>
	    	<input class="commodity" id="filter1" name="filter1" type="hidden" value="${filter1!}">
	    	<% } %>
	    	<% if(filter2! != null) { %>
	    	<input class="commodity" id="filter2" name="filter2" type="hidden" value="${filter2!}">
	    	<% } %>
	    	<% if(filter3! != null) { %>
	    	<input class="commodity" id="filter3" name="filter3" type="hidden" value="${filter3!}">
	    	<% } %>
	    	<input id="sID" name="sID" type="hidden" value="${sID!}">
	    	<input id="msID" name="msID" type="hidden" value="${msID!}">
	    	<input id="totalPrice" name="totalPrice" type="hidden" value="${totalPrice!}">
	        <div class="row text-center">
	        	<span>请留下您的手机号，方便客服人员与您联系</span>
	        </div>
	        <div class="row">
	            <div class="col-xs-${phone! != null ? '10' : '6'} col-xs-offset-1">
	                <input class="form-control" id="phone" name="phone" type="text" value="${phone!}" placeholder="请输入手机号" ${phone! != null ? 'disabled'}>
	            </div>
	            <% if (phone! == null) { %>
	            <div class="col-xs-4">
	                <button class="btn btn-green max-width" id="sms" type="button">获取验证码</button>
	            </div>
	            <% } %>
	        </div>
	        <% if (phone! == null) { %>
	        <div class="row">
	            <div class="col-xs-10 col-xs-offset-1">
	                <input class="form-control" id="phonecode" name="phonecode" type="text" placeholder="请输入手机短信验证码">
	            </div>
	        </div>
	        <% } %>
	        <div class="row">
	            <div class="col-xs-10 col-xs-offset-1 input-append date form_datetime">
	                <input class="form-control" id="date" name="date" type="text" readonly placeholder="请选择预约时间">
	                <span class="add-on"><i class="icon-th"></i></span>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-xs-10 col-xs-offset-1">
	                <button class="btn btn-green max-width" id="submit">完成预约</button>
	            </div>
	        </div>
	        <hr>
	        <div class="row">
	            <div class="col-xs-12"><img src="img/ic_title_prompt.png"><span>温馨提示</span>
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-xs-12 text-grey">
	        		 可预约线下保养时间为：下单之时起24小时后的10天内任意工作时间，保养门店工作时间为:每日早9点~晚5点。
	        	</div>
	        </div>
	        <div class="row">
	            <div class="col-xs-12 text-grey">
	            	快卡提供门店均为精心考察签约的优质门店，技师将在您的监督下进行施工和签字确认。
	            </div>
	        </div>
        </form>
    </div>
</body>

</html>
</#compress>