<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>提交订单</title>
    <link href="../res/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../res/jquery/jquery-1.11.3.min.js"></script>
    <script src="../res/bootstrap/js/bootstrap.min.js"></script>
    <link href="css/base.css" rel="stylesheet">
    <link href="css/submit_orders.css" rel="stylesheet">
    <script src="js/submit_orders.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="part">
                <div class="part-title">
                    <img src="img/ic_title_prompt.png" alt="" /><strong>保养项目</strong>
                </div>
                <div class="part-body">
		        <%
		        var totalPrice = 0; 
		        for(recommend in recommends) {
		        totalPrice = totalPrice + recommend.price * recommend.number;
		        %>
                    <div class="part">
                    	<input class="commodity" type="hidden" value="${recommend.id}-${trunc(recommend.number)}">
                        <div class="part-title"><strong>${recommend.type == 1 ? "更换滤清器" : "更换机油"}</strong>
                        </div>
                        <div class="part-body">
                            <img class="product-img" src="${recommend.p_id! != null ? '../file/download?fID=' + recommend.p_id : 'img/img_product_image.png'}">
                            <strong>${recommend.name}</strong>
                            <br>
                            <span class="light">建议数量</span>&nbsp;${trunc(recommend.number)}<span></span>
                            ${recommend.type! == 2 ? '<button class="btn btn-green btn-xs" id="other-brand" type="button">更换其他品牌</button>'}
                            <br>
                            <span class="light">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格</span>&nbsp;<span class="emphasis">${recommend.price}元</span>
                        </div>
                    </div>
                <% } %>
                </div>
                <div class="part-footer text-right middle">
                    共计：配件费${trunc(totalPrice, 2)}元+工时费${trunc(mtser.cost, 2)}元 <span class="emphasis">￥${trunc(totalPrice + mtser.cost, 2)}元</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="part">
                <div class="part-title">
                    <img src="img/ic_title_prompt.png" alt="" /><strong>选择门店</strong>
                    <label class="classify checked middle" for="distance">
                        <input id="distance" type="radio" name="sort" checked>按距离
                    </label>
                    <label class="classify middle" for="score">
                        <input id="score" type="radio" name="sort">按评分
                    </label>
                    <label class="classify middle" for="aptitude">
                        <input id="aptitude" type="radio" name="sort">按资质
                    </label>
                    <a href="../news/show?nID=3">什么是资质？</a>
                </div>
                <div class="part-body">
	        	<% for(store in stores) { %>
                    <label class="part ${storeLP.first ? 'checked'}" for="${store.id}">
                    	<input class="store" id="${store.id}" name="store" type="radio" value="${store.id!}" ${storeLP.first ? 'checked'}>
                        <div class="part-title"><strong>${store.name}</strong><a href="ckmd?sID=${store.id}">查看详情</a>
                        </div>
                        <div class="part-body light">
                            <img class="icon" src="img/ic_praise.png">&nbsp;好评率${store.rate!90}%
                            <img class="icon" src="img/ic_tool.png">&nbsp;服务${store.service!10}次
                            <img class="icon" src="img/ic_address.png">&nbsp;离我${store.distance!10000 / 1000}K米
                        </div>
                        <div class="part-footer middle">
                            地址：${store.address}
                        </div>
                    </label>
	            <% } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="part">
                <div class="part-body">
                    <a class="btn btn-green btn-lg max-width" id="submit" href="submit_contact.html">立即下单</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
