@CHARSET "UTF-8";
html,body{font-family: "微软雅黑";}
input[type=radio] {
	display: none;
}
input[type=radio]:checked + label {
	padding: 3px;
	width: 30px;
	height: 30px;
    	
	border: 1px solid #12d586;
	background-color: #12d586;
	border-radius: 15px;
}
input[type=radio] + label {
    padding: 3px;
	width: 30px;
	height: 30px;
    	
	border: 1px solid white;
	border-radius: 15px;
}
.search {
	padding: 5px;
	background-color: #f1f1f1
}
.letter {
	height: 35px;
	line-height: 35px;
	font-weight: 700;
	background-color: #12d586;
}
.brand:hover {
	cursor: pointer;
}
.query-result {
	position: absolute;
	width: 100%;
	overflow: hidden;
	top: 50px;
	bottom: 0px;
}
.query-result > .part-body {
	overflow: auto;
}
.part-title img {
	margin-left: 10px;
	margin-right: 5px;
}
.container-fluid .search.row input.form-control{text-align: center;}
.container-fluid .row>div.col-xs-12.title{margin:10px}
.container-fluid .row>div.col-xs-12.title>strong{font-weight: normal;font-size: 15px;}
.container-fluid .row>div.col-xs-3.brands{margin:15px auto}
.container-fluid .row>div.col-xs-3.brands div.brand{font-size:14px}
