@CHARSET "UTF-8";
.row + .row {
	margin-top: 5px;
}
div.small {
	color: #777;
}
.row img.pull-left {
	height:40px;
	margin-right: 10px;
}
img.icon {
	margin-top: 10px;
	height: 20px;
}
.row .form-control {
	width: 75%;
}
.part > .part-body {
	height: 2000px;
}
.query-result {
	position: absolute;
	width: 100%;
	overflow: hidden;
	top: 240px;
	bottom: 0px;
}
.query-result > .part-body {
	overflow: auto;
}
.form-control {
	margin-top: 3px;
}
.last-item {
	margin-bottom: 10px;
}

.container-fluid .row.add-car div.col-xs-12{height:65px;}
.container-fluid .row.add-car div.col-xs-12 img.icon{margin-top:24px}
.container-fluid .row.add-car div.col-xs-12 img.pull-left{margin-top:14px;}
.container-fluid .row.add-car div.col-xs-12 div.pull-left{margin-top:15px;}
.container-fluid .row.add-car div.col-xs-12 div.pull-left div#car-name{font-size:16px}
.container-fluid .row>div.col-xs-12>button.btn{height:52px;font-size:15px;}
.container-fluid .row>div.col-xs-12._button{margin:10px 0px}
