@CHARSET "UTF-8";
.row + .row {
	margin-top: 5px;
}
div.small {
	color: #777;
}
.row img.pull-left {
	height:40px;
	margin-right: 10px;
}
img.icon {
	margin-top: 10px;
	height: 20px;
}
.row .form-control {
	width: 75%;
}
.part > .part-body {
	height: 2000px;
}
.query-result {
	position: absolute;
	width: 100%;
	overflow: hidden;
	top: 175px;
	bottom: 0px;
}
.query-result > .part-body {
	overflow: auto;
}
.form-control {
	margin-top: 3px;
}
.last-item {
	margin-bottom: 10px;
}