@CHARSET "UTF-8";
/* CSS Document */
html, body {
	margin: 0px;
	width: 100%;
	overflow-x: hidden;
}
ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
}

hr{
width:100%;}.cur{ background:#03F}
.index_multiselect{
background:url(../img/ic_index_bg.png);
}
#title_div {
	float: left;
	width: 100%;
background-color: #12D586;
	color: #FFFFFF;
	font-weight: bold;
	height: auto;
}

<!-- 标题栏 -->
.common_back{
text-align:center;
	width: 100%;
	color:#ffffff;
	background-color: #29282D;
	height:60px;
line-height:60px;
}

.common_li{
font-size:0.75em;
text-align:center;
background-color: #29282D;
color:#FFFFFF;
vertical-align:middle;
line-height:60px;
height:60px; }

.common_li_2{
text-align:center;
	background-color: #29282D;
	padding:0px;
	color:#FFFFFF;
vertical-align:middle;
line-height:60px;
height:60px;
font-size:1em;}
.common_li_3{
	background-color: #29282D;
	padding:0px;
line-height:60px;
height:60px;
font-size:1em;}

.menu_img{
padding-top:14px;
width:auto;
height:auto;
}
#div_menu{
	text-align:center;
	vertical-align:middle;
	padding-right:5%;
margin-top:24px;}

.li_index {
	height:80px;
	text-align:center;
	line-height:80px;
	color:#FFFFFF;
	font-size:1.35em;
}
.li_index_phone{
	height:80px;
	font-size:1em;
	text-align:center;

	line-height:80px;
}
#title_li_div{
	height:80px;
	text-align:center;
	vertical-align:middle;
}
.index_check_div{
width:100%;}
.index_check_ul{
list-style:none;
list-style-type:none;}
.index_check_li{
height:100px;
width:50%;
float:left;
line-height:100px;
vertical-align:middle;
text-align:center;
vertical-align:middle;}
#index_title_corlor{
color:#FFFFFF;}
#carousel slide {
	width: 100%;
}
.dropdown-menu-li{
color:#939393;}

.index_text_center{
line-height:70px;
text-align:center;
margin-left:3px;

height:20px; }
label.radio {
font-size:0.75em;
vertical-align:middle;}

<!-- 添加车型 -->
#car_a{
opacity:0;
display:inline-block;
background:url(img/ic_about_us.png) no-repeat;height:20px; 
padding-left:25px;}

.add_car_div {
	height: 120px;
text-align:center;
vertical-align:middle;
	background-color: #FFFFFF;
}
#add_car_div_li{
text-align:center;
vertical-align:middle;
line-height:120px;
height:120px;
}
#add_car_div_li_2{
margin-top:40px;
height:auto;
font-size:1em;
}
#add_car_div_li_3{
text-align:center;
vertical-align:middle;
line-height:120px;
height:120px;
}

.car_letter_all ul{
width:100%;
text-align:center;
list-style:none;
}
.car_letter_all ul li{
float:left;
padding:5px 5px;
width:10%;}
.car_name_all_div{
width:100%;
margin-top:10px;
margin-bottom:10px;
}
.div_gray_1 li{
	padding-left: 3%;
	padding-right:3%;
	width:100%;
}
.div_gray_1 {
	float: left;
	padding-left: 3%;
	padding-right:3%;
	font-size:0.75em;
	padding-top:10px;
	padding-bottom:10px;
	height:auto;
	width: 100%;
	background-color: #F1F1F1;
}
.div_gray_1 ul li {
	margin-top: 5px;
	margin-bottom: 5px;
}
.car_leeter_div{
font-size:1em;
color:#FFFFFF;
width:100%;
float:left;
background-color:#12D586;
padding-top:5px;
padding-bottom:5px;
padding-left:2%;
}
.car_name_ul{
list-style:none;
font-size:1em;
width:100%;
height:auto;
font-weight:bold;
 color:#535353;
padding-top:5px;
padding-bottom:5px;
margin-left:2%;
margin-right:2%;
}
.car_name_li{
float:left;
width:24%;
padding-top:10px;
padding-bottom:10px;
text-align:left;

}.add_car_search_div{
 margin-left:2%;
 margin-right:2%;
 color:#535353;
 width:96%;
 height:auto;
 font-weight:bold;
 font-size:1em;}
#add_car_div_ul{
list-style:none;
float:left;
width:100%;
height:inherit;
}

#add_car_div_li_ul{
text-align:left;
padding-left:10px;
padding-bottom:3px;}
#add_car_div ul {
	display: inline;
	text-align: center;
}

#add_car_div ul li {
	display: inline;
	text-align: center;
}
.check_car_corlor{
color:#FFFFFF;
font-size:1em;}
.add_car_top{
color:#8F8F8F;
font-size:1em;
}
.row{
margin:0px 0px;
padding-top:0px;
padding-bottom:0px;}
.row_index{
margin-top:25px;
margin-bottom:25px;
}
#add_car_buttom{
color:#D4D4D4;
font-size:1em;
}

#check_car_div {
	float: left;
	padding: 5px;
	padding-left:2%;
	padding-right:2%;
	height: auto;
	width: 100%;
	background-color: #258EF9;
}
.index_button{
background-color:#12D586;
width:60%;
color:#FFFFFF;
margin-top:30px;
margin-bottom:50px;
padding-top:10px;
padding-bottom:10px;
border:0px;
font-size:1.25em;
border-radius:5px;
}
a{
text-decoration:none;}
a:link {
	color:#494542;
	text-decoration:none;
}

a:active {
	color: #494542;
	text-decoration:none;
}

a:visited {
	color: #494542;
	text-decoration:none;
}

a:hover {
	color:#494542;
	text-decoration:none;
}

a:visited {
	text-decoration: none; /*超链接无下划线*/
}

.check_car_ul{
list-style:none;
width:100%;
height:inherit;
padding-left:5%;
padding-right:5%;
}
.check_car_ul li{
margin-top:10px;
float:left;}

.check_car_li_1{
padding-top:5px;
font-size:1em;
width:90%;}

.check_car_li_2{
float:right;
width:10%;}

.checkbox_lable{
width:80%;
height:auto;}

.fdy {
  width: 35px;
  height: 35px;
  float:left;
  position: relative;
  margin: 0px auto;
  background-image:url(../img/ic_gray_square.png);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.fdy label {
  width: 15px;
  height: 15px;
  background-color:#FFFFFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer; 
}
.fdy label:after {
  content: '';
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image:url(../img/ic_green_check.png);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.fdy label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.fdy input[type=checkbox] {
  visibility: hidden;
}
.fdy input[type=checkbox]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.scp {
  width: 35px;
  height: 35px;
  float:left;
  position: relative;
  margin: 0px auto;
  background-image:url(../img/ic_gray_square.png);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.scp label {
  width: 15px;
  height: 15px;
  background-color:#FFFFFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer; 
}
.scp label:after {
  content: '';
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image:url(../img/ic_green_check.png);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.scp label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.scp input[type=checkbox] {
  visibility: hidden;
}
.scp input[type=checkbox]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}.sldwz {
  width: 35px;
  height: 35px;
  float:left;
  position: relative;
  margin: 0px auto;
  background-image:url(../img/ic_gray_square.png);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.sldwz label {
  width: 15px;
  height: 15px;
  background-color:#FFFFFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer; 
}
.sldwz label:after {
  content: '';
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image:url(../img/ic_green_check.png);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.sldwz label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.sldwz input[type=checkbox] {
  visibility: hidden;
}
.sldwz input[type=checkbox]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}.hhs {
  width: 35px;
  height: 35px;
  float:left;
  position: relative;
  margin: 0px auto;
  background-image:url(../img/ic_gray_square.png);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.hhs label {
  width: 15px;
  height: 15px;
  background-color:#FFFFFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer; 
}
.hhs label:after {
  content: '';
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image:url(../img/ic_green_check.png);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.hhs label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.hhs input[type=checkbox] {
  visibility: hidden;
}
.hhs input[type=checkbox]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.radiogroup {
	background-color: #CC33CC;
	margin-bottom: 10px;
}

.text_order_sucess {
	font-size: 1.4em;
	font-weight: bold;
}

#order_sucess_prompt {
	margin-top: 30px;
	margin-bottom: 30px;
}

.check_go_back {
	margin-left: 20%;
	margin-right: 20%;
	margin-top:20px;
	vertical-align:middle;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#12D586;
	border-radius:5px;
	width:60%;
}

.img_middle{
vertical-align:middle;
margin-left:4%;
text-align:center;}

.about_us_li{
padding-top:5px;
padding-bottom:5px;}

.text_color_white {
	color: #FFFFFF;
	text-align:center;
	vertical-align:middle;
}

<!-- 我的订单 -->
.div_record {
	background-color: #FFFFFF;
	margin-bottom: 10px;
	width:100%;
	color: #868686;
	height:auto;
}

.order_form_img{
width:100%;
	padding-left:3%;
	padding-right:3%;
height:auto;
list-style:none;
margin-bottom:5px;
float:left;}
.order_form_img_li{
float:left;
height:auto;
margin-top:10px;
padding-right:10px;
}
.order_form_record_ul{
list-style:none;
margin-top:5px;
margin-bottom:5px;
	padding-left:3%;
	padding-right:3%;
width:100%;
float:left;}

.order_form_record_li{
float:left;
height:auto;
width:33%;}
#button_appraise{
background-color:#12D586;
padding-top:5px;
padding-bottom:5px;
border:none;
font-size:0.875em;
color:#FFFFFF;
padding-left:25px;
padding-right:25px;
border-radius:5px;
}
.red_button_div{
margin-right:3%;}

.p_text {
	width: 92%;
	font-size: 1em;
	margin-bottom: 20px;
	margin-left: 4%;
	margin-right: 4%;
}

#about_us_title {
	padding-top: 20px;
	color: #006633;
	font-family: "新宋体";
	font-size: 1.25em;
	font-weight: bold;
}

#about_us_div_margin {
	margin-top: 10px;
	margin-bottom: 10px;
}

#input_number {
	color: #999999;
	width: 94%;
	padding:8px;
	border-radius:5px;
}

<!-- 提交订单 -->
.submit_orders_tab_ul{
list-style:none;
float:left;}

.submit_order_img_li{
font-size:1.175em;
margin-bottom:10px;
width:100%;
font-weight:bold;
}
.submit_order_img_li_2{
color:#B0B0B0;margin-bottom:15px;
margin-top:15px;
text-align:center;
font-size:1.125em;
}
.submit_order_img_li_3{
color:#B0B0B0;
font-size:1.125em;
}
.submit_order_car {
	float: left;
	width: 100%;
	margin-bottom:10px;
}

.submit_order_span {
float:left;
	width: 96%;
	margin-left: 2%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 2%;
	background-color:#FFFFFF;
	font-size: 1em;
	font-weight: bold;
}
#submit_car_div_li{
text-align:center;
vertical-align:middle;
line-height:120px;
height:120px;
}
#submit_car_div_li_2{
margin-top:40px;
height:auto;
font-size:1em;
}
#submit_car_div_li_3{
text-align:center;
vertical-align:middle;
line-height:120px;
height:120px;
}
#submit_car_div_li_tool{
text-align:center;
vertical-align:middle;
line-height:120px;
height:120px;
}
#submit_car_div_li_2_tool{
margin-top:40px;
height:auto;
font-size:1em;
}
#submit_car_div_li_3_tool{
text-align:center;
vertical-align:middle;
line-height:120px;
height:120px;
}
.submit_car_top{
color:#8F8F8F;
font-size:1em;
}
#submit_car_buttom{
color:#D4D4D4;
font-size:1em;
}
.submit_order_checkbox {
	padding-left: 5px;
	margin-bottom: 5px;
	width: 100%;
	margin-left: 2%;
	margin-right: 2%;
}

#submit_order_checkbox_3 {
	padding-left: 5px;
	width: 96%;
	float: left;
	margin-left: 2%;
	margin-bottom:15px;
	margin-right: 2%;
	background-color: #FFFFFF;
}

.submit_orders_img {
	width: auto;
	float: left;
}
.submit_orders_text{
	width: auto;
margin-top:40px;
margin-left:20px;
float:left;}

#myTab {
	margin-left: 2%;
	margin-top: 5px;
	margin-right: 2%;
}

#myTabContent {
	margin-left: 2%;
	margin-top: 5px;
	margin-right: 2%;
}

#distance {
	width: 100%;
	font-size:1em;
	margin-top:10px;
	margin-bottom:10px;
	float: left;
}
#score {
	width: 100%;
	font-size:1em;
	margin-top:10px;
	margin-bottom:10px;
	float: left;
}
#times {
	width: 100%;
	font-size:1em;
	margin-top:10px;
	margin-bottom:10px;
	float: left;
}
.evaluation{
list-style:none;
padding-left:2%;
padding-right:2%;
margin-top:10px;
line-height:40px;
height:40px;
vertical-align:middle;
margin-bottom:10px;
width:100%;}
.evaluation li {
	float: left;
}

.evaluation-li {
	color:#C8C8C8;
	font-size: 0.75em;
	width: 32%;
}

.text_store_introduction {
	font-size: 1em;
	width: 100%;
	margin-top:20px;
	padding-left: 2%;
	padding-right: 2%;
	font-weight: bold;
}

#padding_store_intorducition {
	float: left;
	padding-left: 2%;
	margin-bottom:20px;
	width: 100%; 
	padding-right: 2%;
}

#store_intro_left {
	list-style: none;
}
p{
font-size:0.75em;
color:#B6B6B6;}
.prompt_span{
color:#B6B6B6;
font-size:0.75em;
}
.store_intro_li {
	float: left;
	color:#C8C8C8;
	padding-left: 2%;
	padding-right:2%;
	font-size: 0.75em;
	width: 33%;
}

#address_div {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 5px;
	padding-bottom: 5px; 
	width: 100%;
}

#address_li {
font-size:0.75em;
padding-top:5px;
	width: 60%;
}

#map_li {
font-size:0.75em;
color:#55A2F9;
padding-buttom:5px;
}
.submit_order_car{
	background-color:#FFFFFF;
}
.comments_div{
margin-left:2%;
vertical-align:middle;
margin-top:10px;
margin-right:2%;}

.comments_ul{
width:100%;
margin-top:10px;
height:auto;
list-style:none;}

.avatar_li{
float:left;
height:40px;
margin-bottom:40px;
width:60%;}

.time_li{
width:40%;
color:#C8C8C8;
margin-bottom:40px;
height:40px;
font-size:0.9em;
float:right;}

.comments_details {
margin-left:1%;
margin-top:112px;
margin-bottom:10px;
margin-right:1%;
font-size:0.75em;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
background-color:#F8F8F8;
width:98%;
height:auto; 
position:relative;
border:1px solid #E7E7E7;} 
.comments_details span{
position:absolute;
left:8px;
top:-40px;
border-width:20px;
border-style:solid dashed dashed;
border-color:transparent transparent #E7E7E7 transparent;
line-height:0;} 
.comments_details em{
position:absolute; 
top:-38px; 
border-width:20px;
left:8px;
border-style:solid dashed dashed;
border-color:transparent transparent #F8F8F8 transparent;
line-height:0;} 

<!-- 帮助中心 -->
.help_center_body{
background-color:#F1F1F1;
}
<!-- 评价订单 -->
.order_appraise_store_div{
width:100%;}

.order_appraise_store{
font-size:0.9em;
font-weight:bold;
margin-left:2%;
margin-right:2%;
color:#535353;
width:96%;}

.order_appraise_div{
margin-top:15px;
width:100%;
text-align:center;
height:auto;
}
.order_appraise_div ul{
background-color:#3300FF;
list-style:none;
width:100%;
text-align:center;
}
.order_appraise_div ul li{
float:left;
margin-left:20px;
}
.order_appraise_li{
width:20%;
height:60px;
vertical-align:middle;
text-align:center;
line-height:60px;
margin-bottom:15px;}

#appraise_a{
text-align:center;
vertical-align:middle;}
#input_appraise_content {
	padding-left: 10px;
	padding-right:10px;
	margin-left:2%;
	margin-right:2%;
	font-size:1em;
	padding-top:10px;
	padding-bottom:10px;
	color:#B4B4B4;
	margin-top:15px;
	height:100px;
	width: 96%;
	max-height:100px;
	max-width:96%;
	background-color: #F1F1F1;
}
.appraise_button{
background-color:#12D586;
width:30%;
color:#FFFFFF;
margin-top:10px;
margin-bottom:10px;
padding-top:10px;
padding-bottom:10px;
border:0px;
font-size:1em;
border-radius:5px;
}

input[type=radio] {
    display:none;
}

input[type=radio] + label {
    display:inline-block;
    padding: 5px 10px;
	width:30px;
	height:30px;
    background-color: #ffffff;
    border-color: #12D586;
	border-radius:15px;
	border-width:1px;
}
input[type=radio]:checked + label { 
    background-image: none;
    background-color:#12D586;
}
#car_maintenance_add_car{
margin-top:40px;
height:auto;
font-size:1em;
}

#add_maintenance_buttom{
color:#D4D4D4;
font-size:1em;
}
.car_maintenance_input{
margin-top:20px;
height:auto;
padding-right:3px;
padding-bottom:5px;
padding-top:5px;
font-size:1em;}
.car_maintenance_btn{
background-color:#12D586;
width:80%;
color:#FFFFFF;
margin-top:10px;
margin-bottom:50px;
padding-top:10px;
padding-bottom:10px;
border:0px;
font-size:1.25em;
border-radius:5px;
}
#car_maintenance_ic{
text-align:center;
vertical-align:middle;
line-height:120px;
height:120px;}
.car_maintenance_result{
margin-left:5%;
margin-bottom:10px;
float:left;
padding-left:2%;
padding-right:2%;
font-size:1em;
width:96%;}
.contact_title{
font-size:1em;
width:100%;
margin-top:10px;
margin-bottom:10px;
text-align:center;
padding-left:3px;
padding-right:3px;
padding-bottom:5px;
padding-top:5px;
}
.common_btn_radius {
color:#BEBEBE;
	color: #999999;
	width: 90%;
	margin-left:5%;
	margin-top:20px;
	margin-right:5%;
	padding:8px;
	border-radius:5px;
}
.submit_contact_prompt{
font-size:0.75em;
color:#999999;
margin-left:5%;
margin-right:5%;}

.submit_contact_div{
margin-left:5%;
width:90%;
float:left;
list-style:none;
margin-right:5%;
}
.submit_contact_ul{
list-style:none;

list-style-type:none;}

.submit_contact_phone_number{
float:left;
border-width:1px;
border-color:#12D586;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
width:60%;}
.submit_contact_phone_verification{
background-color:#12D586;
width:35%;
color:#FFFFFF;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
margin-left:10px;
float:right;
border:0px;
font-size:1em;
border-radius:5px;
}
.dialog_checked_acc {
	padding-left: 5px;
	width: 96%;
	float: left;
	margin-left: 2%;
	margin-bottom:15px;
	margin-right: 2%;
	background-color: #FFFFFF;
}
