@CHARSET "UTF-8";
input[type=radio] {
    display:none;
	text-align:center;
	padding-bottom:5px;
}

input[type=radio] + label {
    display:inline-block;
	width:100%;
    background-color: #ffffff;
	height:43px;
	line-height:43px;
    border-color: #FF4242;
	padding:1px 0 0 0;
	color:#FF4242;
	text-align:center;
	border-radius:5px;
    border-style:solid;
	padding-bottom:5px;
	border-width:thin;
}
input[type=radio]:checked + label { 
    background-image: none;
    background-color:#56A8FA;
	color:#FFFFFF;
	text-align:center;
}
.container-fluid{background-color: #F1F1F1;}
.container-fluid .row.part{margin-bottom:5px}
.container-fluid .row.part>div.part-title>img{height:30px}
.container-fluid .row.part:first-child>div.part-title{padding:12px 15px;}
.container-fluid .row.part:first-child>div.part-title>div.col-xs-4{padding:0px 5px;width:auto}
.container-fluid .row.part:first-child>div.part-title>div.col-xs-4:last-child{text-align: right;}
.container-fluid .row.part:first-child>div.part-body{padding:5px 10px}
.container-fluid .row.part:first-child>div.part-body>img{margin:0px 3px 5px 0px;}
.container-fluid .row.part:last-child>div.part-body{border-bottom:0px;}
.container-fluid .row.part>div.part-body{padding:10px 0px;border-bottom: 1px solid #b8b8b8}
.container-fluid .row.part>div.part-body img{margin:0px 3px 0px 0px;}
.container-fluid .row.part>div.part-body>div.msname{font-size:15px;color:#676767;margin:0px 15px 20px}
.container-fluid .row.part>div.part-body>div.text-light{padding:0px;margin-bottom:10px;}
.container-fluid .row.part>div.part-body>div.text-light:last-child{margin-bottom:0px}
.container-fluid .row.part>div.part-body>div.col-xs-3 img{float:none;width:50px;height: 50px;}
.container-fluid .row.part>div.part-footer>div.col-xs-3{padding:0px 5px;}
.container-fluid .row.part>div.part-footer>div._addr{margin-bottom:15px;}
.container-fluid .row.part>div.part-footer label{cursor:pointer; width:100%;margin-bottom:0px;text-align:center; line-height:33px;height:35px;font-weight: normal;color:#56A8FA; border-radius: 3px;border:1px solid #56A8FA;}
.container-fluid .row.part>div.part-footer label.checked{background-color: #258EFA;color:#fff}
.container-fluid .row.part>div.part-body.text-right>textarea.form-control{width:95%;margin:10px;background-color: #F9F9F9;}
.container-fluid .row.part>div.part-body.text-right>button.btn{margin:0px 10px;width:120px}