@CHARSET "UTF-8";
body {
    background-color: #f1f1f1;
}
.row + .row {
    margin-top: 5px;
}
.classify {
    padding: 5px;
    font-weight: 100;
    border-radius: 5px;
}
.classify.checked {
    color: white;
    background-color: #12d586;
}
.light {
    color: #b8b8b8;
    margin-right: 10px;
padding:15px 0px;
}
.middle {
    color: #676767;
}
.emphasis {
    color: #12d586;
    font-size: 17px;
}
.btn.btn-blue {
    color: white;
    background-color: #258ff8;
}
.btn.btn-xs {
    width: 84px;
}
a,
a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: #c7defb;
}
input[type="radio"] {
    display: none;
}
label.part {
    display: block;
}
label.part {
    padding: 0;
    border: #C0C0C0 1px solid;
    background: url(img/maintain-unselected.png) top right no-repeat;
    margin:10px;   
}
.part + .part {
    margin-top: 5px;
}
.part-body > label.checked {
    border: #39adff 1px solid;
    background: url(img/maintain-selected.png) top right no-repeat;
}
.light-emphasis{margin-top:5px}
.container-fluid div.part-title>strong{font-size:15px;}
.container-fluid>.row>div.part{border:0px; border-bottom:1px solid #C0C0C0;border-top: 1px solid #C0C0C0;}
.container-fluid>.row>div.part>div.part-body{padding:0px}
.container-fluid div.part-body>div.part{margin:10px} 
.container-fluid>.row>div.part>div.part-body div.part div.part-body{padding:0px;}
.container-fluid>.row>div.part>div.part-body div.part div.part-body div.row{margin:10px -5px}
.container-fluid>.row>div.part>div.part-body div.part div.part-body div.row img.product-img{margin-right:25px;}
.container-fluid>.row>div.part>div.part-body div.part div.part-body div.row>div.col-xs-12 strong{font-size:16px;}

.container-fluid>.row>div.part>div.part-footer{border-top:1px solid #C0C0C0;}

.container-fluid>.row>div.part>div.part-body div.row{margin:10px -5px}
.container-fluid>.row>div.part>div.part-body>label.part>div.part-footer{border-top:1px solid #C0C0C0;font-weight: normal;font-size:15px;}
.container-fluid>.row>div.part>div.part-body>label.part>div.part-body div.col-xs-4{font-weight: normal;padding:0px 5px;}
.container-fluid>.row:last-child>div.part>div.part-body{margin:10px 25px}
